<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="login">
    <input type="text" placeholder="Username" >  
  <input type="password" placeholder="password" id="password">  
  <a href="#" class="forgot">forgot password?</a>
  <input type="submit" value="Sign In">
  
</div>
<div style="text-align: -webkit-center;">
<button  class="btn btn-primary" style="cursor: pointer;" (click)="getDataFromHeroku()">Get data from Flask REST service Heroku</button><br>




<span class="font-color : #37a69b">by Sarvesh | Sauhard | Himanshu</span>
<span class="font-color : #37a69b">Copyright 2018 built in Angular 5</span><br>


<span *ngIf="testResponse">
  Email id : {{testResponse.email}}<br>
  Id: {{testResponse.id}}<br>
  Username: {{testResponse.username}}<br>
</span>
</div>
